.green {
    background-color: greenyellow;
}

.red {
    background-color: red;
}

.Status {
    background-color: lightgray;
    font-size: large;
    font-style: oblique;
    text-align: center;
    }
