<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EXIT </title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />

    <!--<style type="text/css">-->
        <!--body {-->
            <!--background-image: url(static/image/113769.jpg);-->
            <!--background-repeat: no-repeat;-->
            <!--background-size: cover;-->
        <!--}-->
    <!--</style>-->

</head>

<body background="/image/113769.jpg">



<form action="/exit" method="post">
    <h1>
        <div class="exit">
            THANK YOU FOR THE GAME
            </br>
            </br>
            DON'T FORGET ABOUT YOUR KINGDOM
            </br>
            </br>
            SEE YOU SOON !!!
        </div>
    </h1>
</form>
</body>
</html>