<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAIN MENU</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<br/>
<br/>
<br/>
<h2 align="center" >MAIN MENU</h2>
<form action="/main-menu" method="post">
    <div class="menu">
        <input type="submit" value="START GAME">
        <br/>
        <input type="submit" value="RANKING">
        <br/>
        <input type="submit" value="EXIT">
        <br/>
    </div>

</form>
</body>
</html>