<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu Page</title>

</head>
<body>

<a href="/main-menu">Main Menu</a>
<!--<style th:inline="text">-->
    <!--body{-->
        <!--background: url("/static/image/mount-and-blade.jpg")-->
        <!--no-repeat center center fixed;-->
    <!--}-->
<!--</style>-->

<!--<audio controls="controls">-->
    <!--<source src="/static/music/lord_of_the_rings.mp3" type="audio/mpeg"></source>-->
<!--</audio>-->

</body>
</html>